@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        @apply mb-4 text-3xl font-bold text-center font-title;
    }
    p {
        @apply mb-2;
    }
    a {
        @apply font-bold;
    }
    a:not(.post),
    /* button {
        @apply transition-all hover:text-text/50;
    } */

    ul,
    ol {
        @apply ml-10 list-outside w-max;
    }
    ul {
        @apply list-disc;
    }
    ol {
        @apply list-decimal;
    }
    li {
        @apply mb-2;
    }
}

.highlight {
    @apply font-bold bg-yellow-200;
}

.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 2px solid black;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

@font-face {
    font-family: "Reckless";
    font-weight: 100 1000;
    font-display: block;
    src: url(/fonts/Reckless-VariableFont.woff2) format("woff2");
}

@font-face {
    font-family: "DM Sans";
    font-weight: 100 1000;
    font-display: block;
    src:
        local("DM Sans"),
        url(/fonts/DMSans-VariableFont.ttf) format("truetype");
}

@font-face {
    font-family: "PT Mono";
    font-weight: 400;
    font-display: block;
    src:
        local("PT Mono"),
        url(/fonts/PTMono-Regular.ttf) format("truetype");
}
